if: tag IS present

language: go

go:
- 1.12.x

script:
- CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o terraform-provider-tokend-linux -v github.com/tokend/terraform-provider-tokend
- CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -o terraform-provider-tokend-darwin -v github.com/tokend/terraform-provider-tokend
- CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -o terraform-provider-tokend-windows -v github.com/tokend/terraform-provider-tokend

deploy:
  skip_cleanup: true
  overwrite: true
  provider: releases
  api_key:
    secure: nFx3LUivirbPr7SIspIHb116ffjVp86vAOjS9+Rn6m+mzXLsXF/xs7XlVrsQEHaY2uzxIoj+Bz7MyNHdapKOUnsVsB/4Hs9kb3Lce45fQHA+9NjcXvM/ZZYcKmDt74wnntZI5OKg1w0RUAxTqzRPlMmPQYya1m/USwNl4Ni5FlYRvOACy5AfWLyzrhvh5A8hEl5kQhKQpvn+JAi+yHUfYAl0Idv9/4kwQT+3OVkmMuepWFuwaYEV1eHLp7C+b0neYqk013wdC6VjFYetcDC2oklWHLVg8KBkXrox6BuVSfkhx2k0yq5dgo+pfPyUuRVj29ikBW7I1WHtZS/51bKfNpaWydzdSjKhNtgqB3xP71d8NX1v5AiomvqHF7IPtDQ+PR8XWZKz/z73xbOIif+nRREo5b4GYo4wT5VP5yXR+M6wKMaT77JqSUZwOy/gjK2YBd4fRbE4X6LdydmpHnr66CLHscrovhCqaRKVTwBjES0MNx9vWtG6oviiZRX0i3kTH/ud9U5oOke6NZcEBK7pEnZsFISCw0FxLHeq0RFF80C4qMLTKj1TLejvITOjQqffoO4ko8oMEBDYTC0QffiPgJkDJ8WmNuldR2WZjZMigr5nvImIiMWiAWrv3ZNLs8dzCkCvsmzxDcQhoZRtWfDjvhTuajWpvYVcI/iPx5ZQg4E=
  file:
  - terraform-provider-tokend-linux
  - terraform-provider-tokend-darwin
  - terraform-provider-tokend-windows
  on:
    repo: tokend/terraform-provider-tokend
    tags: true
